.flock
  margin: 0 auto 1.5em auto
  canvas
    display: block
    margin-bottom: .5em

#prettyDemo
  width: 90%
  height: 500px

#cohesionDemo, #separationDemo
  float: right
  margin-left: 10px

#alignmentDemo
  float: left
  margin-right: 10px

.content 
  h1, h2, h3, h4
    clear: both
