@import 'compass/css3'
@import 'compass/utilities/general/clearfix'
$hm-border: 2px solid #F00
$game_border: 2px solid #000

body.bp
  figure .sudoku_game
    margin: 0 auto

  ul.sudoku_legend
    float: left
    width: 530px
    //padding-left: 20px
    //margin: 0px
    li
      padding-bottom: 2px
    span
      padding: 2px
      +border-radius(3px)
      &.good
        background-color: #A0FF8C
      &.violated
        background-color: #FF988C
      &.boring
        background-color: #CCC
      &.clue
        border: 1px solid #CCC


  table.sudoku_game
    width: auto
    margin-bottom: 10px
    background-color: #FFF
    td
      text-align: center
      border-right: 1px solid #000
      border-bottom: 1px solid #000
      padding: 0px 5px
      font-size: 16px
      &.good
        background-color: #A0FF8C
      &.violated
        background-color: #FF988C
      &.boring
        background-color: #CCC
    td:first-child
      border-left: $game-border
    tr:first-of-type td
      border-top: $game-border
    tr:nth-child(3n) td
      border-bottom: $game-border
    tr td:nth-child(3n)
      border-right: $game-border

  .game .sudoku_game
    width: 100%

  .sudoku_vis
    position: relative
    .wheel, .create
      float: left
    .game
      position: absolute
      left: 150px
      top: 170px
    .info
      width: 100%
      clear: both

  //#sleepMap

  table#searchResults
    td
      padding: 1px
      margin: 0px
    tr.out
      color: #CCC

    tr:not(.out) td:first-child
      border-left: $hm-border
    tr:not(.out) td:last-child
      border-right: $hm-border
    tr:not(.out):first-of-type td
      border-top: $hm-border
    tr:not(.out):last-of-type td
  .math
    clear: both
