<article class="post">
<header>
	<h1>About</h1>
</header>
<section class="content">
	<div class="pleasant small right">
	<img src="/images/harry.jpg" alt="Harry's wonderful face">
	<p>Hello there!</p>
	</div>
	<p>Hello there! I'm Harry.</p>
	<p>Right now I like these things:</p>
	<ul>
		<li><a href="http://github.com/hornairs">Programming</a> in <a href="http://rubygems.org/search?query=hornairs">Ruby</a></li>
		<li><a href="http://www.thatsit-thatsall.com/">Snowboarding</a> <a href="http://www.youtube.com/watch?v=hZo6CxR6ZhY">down</a> <a href="http://www.youtube.com/watch?v=uY7BeegzDFI">mountains</a></li>
		<li><a href="http://www.tojos.com/Splash.html">Eating</a> <a href="http://www.sushiyakingston.com/">sushi</a></li>
		<li><a href="http://bubbledup.origo.ethz.ch/">Teaching</a> others how to program</li>
		<li><a href="http://skylightlabs.ca">Starting</a> <a href="http://www.kingstoncomputerplanet.com/">businesses</a></li>
		<li><a href="http://hypem.com/#/popular">Listening</a> <a href="http://www.youtube.com/watch?v=dlPjxz4LGak">to</a> <a href="http://www.youtube.com/watch?v=uX0-9-y9HEs">and</a> <a href="http://cantabile.kingston.net/">making</a> music</li>
	</ul>
</section>
</article>