%header
  %h1 Code
%section#programs
  %ul
    %li
      %h2
        %a{:href => "/thwart"} Thwart
      %p
        Thwart is a Ruby Role Based Access System (
        %a{:href => "http://en.wikipedia.org/wiki/Role-based_access_control"}> wiki
        ) loosely based on
        %a{:href => "http://github.com/jnunemaker/canable"} Canable
        by
        = succeed "." do
          %a{:href => "http://railstips.org/"} John Nunemaker
        This system is a robust, fast, and smart authorization engine aimed at Rails applications with granular permissions needs.
      %p
        %a{:href => "https://github.com/hornairs/thwart"} source
        |
        %a{:href => "http://rdoc.info/gems/thwart/0.0.4/frames"} docs
        |
        %a{:href => "https://github.com/hornairs/thwart/tree/master/examples"} examples
    %li
      %h2
        %a{:href => "/logdb"} Logdb
      %p
        Logdb is a web application for managing a community radio station. Its no where near done yet but when it is it will allow radio station managers to set up the show schedule, DJs and hosts to submit on air logs, auto generate music charts, and much more. Stay tuned, and if you want to get involved please 
        = succeed "!" do
          %a{:href => "mailto:harry.brundage@gmail.com"} contact me
      %p
        %a{:href => "https://github.com/hornairs/logdb"} source
        |
        %a{:href => "#"} docs
.clear

