%header
  %h1 Code
%section#programs
  %ul
    %li
      %h2
        Thwart
      %p
        Thwart is a Ruby Role Based Access System (
        %a{:href => "http://en.wikipedia.org/wiki/Role-based_access_control"}> wiki
        ) loosely based on
        %a{:href => "http://github.com/jnunemaker/canable"} Canable
        by
        = succeed "." do
          %a{:href => "http://railstips.org/"} John Nunemaker
        This system is a robust, fast, and smart authorization engine aimed at Rails applications with granular permissions needs.
      %p
        %a{:href => "https://github.com/hornairs/thwart"} source
        |
        %a{:href => "http://rdoc.info/gems/thwart/0.0.4/frames"} docs
        |
        %a{:href => "https://github.com/hornairs/thwart/tree/master/examples"} examples
    %li
      %h2
        muffin
      %p
        muffin is a handy set of helpers for Cakefiles in CoffeeScript projects. It lets you easily bring in file concatenation, CoffeeScript compilation, JavaScript minification, filesystem watching, and growl notifications in an easy to set up pipeline, while remaining asynchronous and hopefully fast.
      %p
        %a{:href => "https://github.com/hornairs/muffin"} source
        |
        %a{:href => "https://github.com/hornairs/muffin#readme"} readme
        |
        %a{:href => "http://hornairs.github.com/muffin"} annotated source
    %li
      %h2
        blog
      %p
        %a{:href => "http://harry.me/"} This blog
        is where I host some of the cooler stuff I've done, namely a few "Neat Algorithms" posts which demonstrate some cool stuff using interactive examples. Thanks for reading and I'd love to hear any feedback you have on it!.
      %p
        %a{:href => "https://github.com/hornairs/blog"} source

.clear

more coming soon!
