%header
  %h1 Code
%section#programs
  %ul
    %li
      %h2
        %a{:href => "/code/scurvy"} Scurvy
      %p
        Scurvy is a web based media catalogue similar to Ampache but optimized for downloading from the server and tracking of what has been downloaded or not.
        Scurvy is suitable for indexing, browsing, and downloading a large amount of ever changing offsite media.
      %p
        %a{:href => "#"} source
        |
        %a{:href => "#"} docs
        |
        %a{:href => "#"} examples
    %li
      %h2
        %a{:href => "/code/jester"} Jester
      %p
        Jester is a Javascript library useful for consuming RESTful web services. It operates similarly to
        = succeed "," do
          %a{:href => "http://api.rubyonrails.org/classes/ActiveRecord/Base.html"} ActiveRecord
        but in the client. Jester was originally by
        = succeed "," do
          %a{:href => "http://github.com/thoughtbot/jester"}
            Thoughtbot
            Inc
        but I upgraded it to work in DOMless environments such as
        %a{:href => "http://nodejs.org/"} node.js
        or
        = succeed "." do
          %a{:href => "http://www.appcelerator.com/products/titanium-mobile-application-development/"} Appcelerator Titanium
      %p
        %a{:href => ""} source
        |
        %a{:href => "#"} docs
        |
        %a{:href => "#"} examples
    %li
      %h2
        %a{:href => "/thwart"} Thwart
      %p
        Thwart is a Role Based Access System (
        %a{:href => "http://en.wikipedia.org/wiki/Role-based_access_control"}> wiki
        ) loosely based on
        %a{:href => "http://github.com/jnunemaker/canable"} Canable
        by
        = succeed "." do
          %a{:href => "http://railstips.org/"} John Nunemaker
        This system is a robust, fast, and smart authorization engine aimed at Rails applications with granular permissions needs.
      %p
        %a{:href => "https://github.com/hornairs/thwart"} source
        |
        %a{:href => "http://rdoc.info/gems/thwart/0.0.4/frames"} docs
        |
        %a{:href => "https://github.com/hornairs/thwart/tree/master/examples"} examples
.clear

