<section id="featured">
	<h3>Featured Post</h3>
	<%= articles[0].html_stub %>
</section>
<section id="tweets">
	<h3><a href="http://twitter.com/harrybrundage">Tweets</a></h3>
</section>
<section id="songs">
	<h3><a href="http://last.fm/hornairs">Last.FM</a></h3>
</section>
<section id="articles">
  <% articles[1...3].each do |article| %>
	<%= article.html_stub %>
  <% end %>
</section>
