/* line 1, ../../assets/sass/flocking.sass */
.flock {
  margin: 0 auto 1.5em auto;
  height: 200px;
  width: 200px;
  border: 1px solid black;
}
/* line 6, ../../assets/sass/flocking.sass */
.flock canvas {
  width: 100%;
  height: 100%;
}

/* line 10, ../../assets/sass/flocking.sass */
#prettyDemo {
  width: 90%;
  height: 500px;
}

/* line 14, ../../assets/sass/flocking.sass */
#fullFlock {
  width: 500px;
  height: 500px;
}

/* line 20, ../../assets/sass/flocking.sass */
#cohesionDemo, #alignmentDemo, #separationDemo {
  width: 300px;
  height: 300px;
}

/* line 24, ../../assets/sass/flocking.sass */
#cohesionDemo, #separationDemo {
  float: right;
  margin-left: 10px;
}

/* line 28, ../../assets/sass/flocking.sass */
#alignmentDemo {
  width: 300px;
  height: 300px;
  float: left;
  margin-right: 10px;
}

/* line 35, ../../assets/sass/flocking.sass */
.content h1, .content h2, .content h3, .content h4 {
  clear: both;
}
