/* line 1, ../../assets/sass/flocking.sass */
.flock {
  margin: 0 auto 1.5em auto;
}
/* line 3, ../../assets/sass/flocking.sass */
.flock canvas {
  display: block;
  margin-bottom: 0.5em;
}

/* line 7, ../../assets/sass/flocking.sass */
#prettyDemo {
  width: 90%;
  height: 500px;
}

/* line 11, ../../assets/sass/flocking.sass */
#cohesionDemo, #separationDemo {
  float: right;
  margin-left: 10px;
}

/* line 15, ../../assets/sass/flocking.sass */
#alignmentDemo {
  float: left;
  margin-right: 10px;
}

/* line 20, ../../assets/sass/flocking.sass */
.content h1, .content h2, .content h3, .content h4 {
  clear: both;
}
