/* line 1, ../../assets/sass/flocking.sass */
.flock {
  margin: 0 auto 1.5em auto;
  height: 200px;
  width: 200px;
  border: 1px solid black;
}
/* line 6, ../../assets/sass/flocking.sass */
.flock canvas {
  width: 100%;
  height: 100%;
}

/* line 10, ../../assets/sass/flocking.sass */
#prettyDemo {
  width: 90%;
  height: 500px;
}

/* line 14, ../../assets/sass/flocking.sass */
#fullFlock {
  width: 500px;
  height: 500px;
}

/* line 20, ../../assets/sass/flocking.sass */
#cohesionDemo, #alignmentDemo, #separationDemo {
  width: 300px;
  height: 300px;
}

/* line 24, ../../assets/sass/flocking.sass */
#cohesionDemo, #separationDemo {
  float: right;
  margin-left: 10px;
}

/* line 28, ../../assets/sass/flocking.sass */
#alignmentDemo {
  width: 300px;
  height: 300px;
  float: left;
  margin-right: 10px;
}

/* line 35, ../../assets/sass/flocking.sass */
.content h1, .content h2, .content h3, .content h4 {
  clear: both;
}

/* line 40, ../../assets/sass/flocking.sass */
.awesome {
  border: 0px;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
/* line 46, ../../assets/sass/flocking.sass */
.awesome, .awesome .awesome:visited {
  background: #222222 url(/images/alert-overlay.png) repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  color: white;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
}
/* line 60, ../../assets/sass/flocking.sass */
.awesome:hover {
  background-color: #111111;
  color: white;
}
/* line 63, ../../assets/sass/flocking.sass */
.awesome:active {
  top: 1px;
}
