/* line 4, ../../assets/sass/harmonics.sass */
.sudoku_vis .wheel, .sudoku_vis .game {
  float: left;
}
/* line 7, ../../assets/sass/harmonics.sass */
.sudoku_vis .game {
  left: 0px;
  width: 230px;
  margin-left: -343px;
  margin-top: 122px;
}
/* line 13, ../../assets/sass/harmonics.sass */
.sudoku_vis .game table {
  width: auto;
  margin-bottom: 10px;
  background-color: white;
}
/* line 17, ../../assets/sass/harmonics.sass */
.sudoku_vis .game table td {
  text-align: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0px 5px;
  font-size: 16px;
}
/* line 23, ../../assets/sass/harmonics.sass */
.sudoku_vis .game table td.good {
  background-color: #a0ff8c;
}
/* line 25, ../../assets/sass/harmonics.sass */
.sudoku_vis .game table td.violated {
  background-color: #ff988c;
}
/* line 27, ../../assets/sass/harmonics.sass */
.sudoku_vis .game table td.boring {
  background-color: #cccccc;
}
/* line 29, ../../assets/sass/harmonics.sass */
.sudoku_vis .game table td:first-child {
  border-left: 2px solid black;
}
/* line 31, ../../assets/sass/harmonics.sass */
.sudoku_vis .game table tr:first-of-type td {
  border-top: 2px solid black;
}
/* line 33, ../../assets/sass/harmonics.sass */
.sudoku_vis .game table tr:nth-child(3n) td {
  border-bottom: 2px solid black;
}
/* line 35, ../../assets/sass/harmonics.sass */
.sudoku_vis .game table tr td:nth-child(3n) {
  border-right: 2px solid black;
}
/* line 37, ../../assets/sass/harmonics.sass */
.sudoku_vis .info {
  width: 100%;
  clear: both;
}

/* line 44, ../../assets/sass/harmonics.sass */
table#searchResults td {
  padding: 1px;
  margin: 0px;
}
/* line 47, ../../assets/sass/harmonics.sass */
table#searchResults tr.out {
  color: #cccccc;
}
/* line 50, ../../assets/sass/harmonics.sass */
table#searchResults tr:not(.out) td:first-child {
  border-left: 2px solid red;
}
/* line 52, ../../assets/sass/harmonics.sass */
table#searchResults tr:not(.out) td:last-child {
  border-right: 2px solid red;
}
/* line 54, ../../assets/sass/harmonics.sass */
table#searchResults tr:not(.out):first-of-type td {
  border-top: 2px solid red;
}
/* line 56, ../../assets/sass/harmonics.sass */
table#searchResults tr:not(.out):last-of-type td {
  border-bottom: 2px solid red;
}
