body {
  font-size: 20px;
  font-family: 'Baskerville', Georgia, Times, serif;
  line-height: 30px;
  margin: 0px;
}
header, footer, section, article {
	display: block;
}

.piece {
  margin: 0 auto;
  width: 720px;
}
#container {
  padding: 0 15px 15px 15px;
}

#content {
}
#by {
	font-style: italic;
	margin-right: 5px;
	font-size: 28px;
}
#caption {
	position: absolute;
	font-size: 24px;
	margin: -135px 0 0 70px;
}
#path {
	color: #b53131;
}
#links {
	margin-top: 13px;
	float: right;
	width: 500px;
}
#links a, #links p {
	display: block;
	float: left;
	padding-left: 15px;
}
.date {
  font-style: italic;
  float: right;
  line-height: 43px;
  margin-right: 30px;
}
a {
	color: #b83000;
}
h1 a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.post header {
	margin-bottom: 10px;
}
.post .body p:first-child {
	margin-top: 0;
}
.post .body p:last-child {
	margin-bottom: 0;
}
.post {
	margin-bottom: 30px;
}
.post:last-child {
  margin-bottom: 10px;
}
.post p {
  margin: 10px 0;
}
.post .more {
  margin-top: -10px;
  margin-right: 30px;
  font-style: italic;
  text-align: right;
}
.more a {
  text-decoration: none;
}
.more a:hover { text-decoration: underline }

body > header {
	display: block;
	padding-top: 10px;
	margin-bottom: 20px;
	background-color: ;
	height: 60px;
	
	background: -webkit-gradient(
	  linear, 0 0, 0 100%, from(#F9F9F9), to(#E9E9E9)
	);

	background: -moz-linear-gradient(
	  top, #F9F9F9, #E9E9E9
	);
}

body > header h1 {
	float: left;
	font-weight: normal;
	width: 100px;
	font-size: 2.25em;
}

h1, h2, h3, h4 {
  display: inline;
  margin: 0;
  font-weight: 600;
}
ul, li {
  list-style-type: none;
}
code {
  font-family: 'Anonymous Pro', 'Bitstream Vera Sans', 'Monaco', Courier, mono;
}
pre {
  padding: 20px;
}
blockquote {
  font-style: italic;
}

body > footer {
  text-align: left;
  margin-left: 10px;
	font-style: italic;
  font-size: 18px;
  color: #888;
}
